body {
    font-family: 'Lora', serif;
}
/* styled primary column */
.col-lg-8,
.col-sm-8 {
    background-color: whitesmoke;
}
#aboutstyle {
    background-color: whitesmoke;
}

#aboutPic {
  margin-right: 20px;
  width: 250px;
  height: 250px;
} 

/* Set all img card-size to 250x250 px */
.img-size {
    background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 250px;
  height: 250px;
}
